<h2>My cookie</h2>
<dl>
    <dt>text</dt>
    <dd class="pl-20">{{text}}</dd>

    <dt>category</dt>
    <dd class="pl-20">{{category}}</dd>

    <dt>userId</dt>
    <dd class="pl-20">{{userId}}</dd>

    <dt>likes</dt>
    <dd class="pl-20">{{likes}}</dd>

    <dt>dislikes</dt>
    <dd class="pl-20">{{dislikes}}</dd>

    <dt>img</dt>
    <dd class="pl-20"><img src="{{img}}" alt="img"/></dd>

    <dt>shareDate</dt>
    <dd class="pl-20">{{shareDate}}</dd>

    <dt>id</dt>
    <dd class="pl-20">{{id}}</dd>

    <dt>hours</dt>
    <dd class="pl-20">{{hours}}</dd>
</dl>