<h2>List of Songs</h2>
<p class="text-right"><a href="#/songs/add" class="btn btn-primary">Add Song</a></p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
        <tr data-id="{{Id}}">
            <td>{{Id}}</td>
            <td>{{Title}}</td>
            <td>{{Year}}</td>
            <td>{{Genre}}</td>
            <td>
                <span class="glyphicon glyphicon-pencil ml-5 mr-5 pointer edit-song" title="Edit"></span>
                <span class="glyphicon glyphicon-trash ml-5 mr-5 pointer delete-song" title="Delete"></span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>