@model MvcSumApp.Models.SumViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    if (ViewBag.IsValid)
    {
        <h1 class="alert alert-danger">Invalid data</h1>
    }
    else
    {
        <h1>Sum numbers</h1>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.FirstNumber)
        @Html.TextBoxFor(m => Model.FirstNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SecondNumber)
        @Html.TextBoxFor(m => Model.SecondNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <h2>
            Result: @Model.TotalSum    
        </h2>
    </div>

    <input type="submit" value="Calculate" class="btn btn-primary" />
}